<!-- <mat-toolbar color="primary" class="footer">
  <span>© 2025 MyApp. All rights reserved.</span>
  <span class="spacer"></span>
  <a mat-button href="/privacy">Privacy</a>
  <a mat-button href="/terms">Terms</a>
  <a mat-icon-button href="https://twitter.com/myapp" aria-label="Twitter">
    <mat-icon>twitter</mat-icon>
  </a>
</mat-toolbar> -->

<div color="primary" class="footer">
  <span>© 2025 MyApp. All rights reserved.</span>
  <span class="spacer"></span>
  <span>
<a href="/privacy">Privacy</a>
  <a  href="/terms">Terms</a>
  </span>
  
  <a href="https://twitter.com/myapp" aria-label="Twitter">
    <mat-icon>twitter</mat-icon>
  </a>
</div>
