.btn-link {
    color: #000000;
    background-color: #fafafa;
    border-color: #bd9f35; /*set the color you want here*/
}
.btn-link:hover, .btn-link:focus, .btn-link:active, .btn-link.active, .open>.dropdown-toggle.btn-link {
    color: #fff;
    background-color: #39b072;
    border-color: #8e8628; /*set the color you want here*/
}