<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid"
          alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <div *ngIf="isenablereset else disablereset">
          <form [formGroup]="resetpassword" (click)="onSubmitted()">
            <div data-mdb-input-init class="form-outline mb-4">
              <label class="form-label" for="form1Example16">Enter OTP</label>
              <input type="text" id="form1Example16" class="form-control form-control-lg" id="otp"
                placeholder="otp" formControlName="otp">
              <label class="form-label" for="form1Example14">Enter Password</label>
              <input type="text" id="form1Example14" class="form-control form-control-lg" id="password"
                placeholder="password" formControlName="password">
              <div *ngIf="f1['password'].touched && f1['password'].errors;">
                <div *ngIf="f1['password'].touched && f1['password'].errors?.['required']">
                  <span class="required-text">*password is required</span>
                </div>
                <div *ngIf="f1['password'].touched && f1['password'].errors?.['minlength'];">
                  <span class="required-text">*password is too small</span>
                </div>
                <div *ngIf="f1['password'].touched && f1['password'].errors?.['maxlength'];">
                  <span class="required-text">*password is too big</span>
                </div>
              </div>
              <label class="form-label" for="form1Example15">Re-Enter Password</label>
              <input type="text" id="form1Example15" class="form-control form-control-lg" id="repassword"
                placeholder="password" formControlName="repassword" (change)="ValidatePasswordMatch()">
              <div *ngIf="f1['repassword'].touched && f1['repassword'].errors; else passwordnotmatch">
                <div *ngIf="f1['repassword'].touched && f1['repassword'].errors?.['required']">
                  <span class="required-text">*password is required</span>
                </div>
                <div *ngIf="f1['repassword'].touched && f1['repassword'].errors?.['minlength'];">
                  <span class="required-text">*password is too small</span>
                </div>
                <div *ngIf="f1['repassword'].touched && f1['repassword'].errors?.['maxlength'];">
                  <span class="required-text">*password is too big</span>
                </div>
              </div>
              <!-- Submit button -->

            </div>
            <ng-template #passwordnotmatch>
              <div *ngIf="ispasswordmatch else passwordnotmatched">
                <span class="required-text"></span>
              </div>
              <ng-template #passwordnotmatched>
                <span class="required-text">Password Not Match!</span>
              </ng-template>
            </ng-template>
            <button type="submit" [disabled]="!ispasswordmatch" data-mdb-button-init data-mdb-ripple-init
              class="btn btn-primary btn-lg btn-block">Confirm Password</button>

          </form>
        </div>
        <ng-template #disablereset>
          <form [formGroup]="resetform" (click)="onSubmit()">

            <div data-mdb-input-init class="form-outline mb-4">
              <label class="form-label" for="form1Example13">Enter Email Address / Username</label>
              <input type="email" id="form1Example13" class="form-control form-control-lg" id="email"
                placeholder="Email" formControlName="Email" (change)="validateEmail();">
              <div *ngIf="f['Email'].touched && f['Email'].errors; else elseBlockusername">
                <div *ngIf="f['Email'].touched && f['Email'].errors?.['required']">
                  <span class="required-text">*Email/username is required</span>
                </div>
                <div *ngIf="f['Email'].touched && f['Email'].errors?.['pattern'];">
                  <span class="required-text">*Email/username is not valid</span>
                </div>
              </div>
            </div>

            <ng-template #elseBlockusername>
              <div *ngIf="isValidEmail else elseBlockusername1">
                <span class="required-text"></span>
              </div>
              <ng-template #elseBlockusername1>
                <span class="required-text">Sorry! Not Register Yet!</span>
              </ng-template>
            </ng-template>

            <!-- Submit button -->
            <button type="submit" data-mdb-button-init data-mdb-ripple-init
              class="btn btn-primary btn-lg btn-block">Confirm</button>
          </form>
        </ng-template>
      </div>
    </div>
  </div>
</section>