.required-text {
  color: red; /* Make the text red */
  font-size: 0.8em; /* Make the text slightly smaller */
  display: block; /* Ensure it appears on a new line */
  margin-top: 0px; /* Add some space between the input and the text */
  padding-bottom: 20px;
  padding-left: 15px;
}